@charset "utf-8";



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@1,300&display=swap');

@font-face {
    font-family:'robo';
    src: url(../fontes/upheavtt.ttf)format('truetype');
    font-size:normal;
    
}

:root {

    --cor01:#FAF200;
    --cor02:#FA0019;
    --cor03:#00A7FA;
    --cor04:#00A7FA;
    --cor05:#807E5C;
    
    --fonte-robo:'robo',sans-serif;
    --fonte-principal:'josefin sans';
   
    --fonte-corpo:Arial, Helvetica, sans-serif;

}

*{

margin: 0px;
padding: 0px;

}

header{

background-color: #00A7FA;
min-height: 150px;
width: 100%;
}

header h1{
    padding-top: 32px;
    font-family: var(--fonte-robo);
    font-weight: normal;
    color: var(--cor01);
    text-shadow: 4px 1px 4px black;
            
    text-align: justify;
    text-align: center;
    }

#cogumelo{
   
    display: inline-block;
    margin-left: -10px;



}

header p{
    padding-top: 12px;
    padding-left: 14px;
text-align: justify;
text-align: center;

}


nav{
background-color: var(--cor03);
padding: 15px;
}
nav > a{
text-decoration: none;
padding: 12px;
color: black;

}


main{}

aside{}


footer